@model CesarViewModel
@{
    ViewData["Title"] = "Encriptar";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>El mensaje para encriptar fue @Model.Mensaje con la Clave: @Model.Clave</p>
